body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

section {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
}

button {
    width: 100px;
    padding: 5px;
    margin-top: 10px;
    align-self: flex-start;
}
